<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8908bd1bc0.js" crossorigin="anonymous"></script>
    <script src="./js/jquery.js" th:src="@{/script/jquery.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" href="./assets/favicon.png" th:href="@{/assets/favicon.png}">
    <title>Petry</title>
</head>
<body>
    <script>
        (() => {
            let id = '${requestScope.info}';

            alert("아이디는 \' " + id + " \'입니다.");
            location.href = './index.jsp';
        })();
    </script>
</body>
</html>